#!/bin/bash

GIT_COMMIT=4b0b3fc98ae4a1e848765e0cd48f958a13fc683d
GIT_COMMIT_SHORT="${GIT_COMMIT:0:8}"

RUYI_DATESTAMP=20240702
PV="0.2.9-pre.ruyi.${RUYI_DATESTAMP}+git.${GIT_COMMIT_SHORT}"
P="box64-upstream-$PV"
SRC_URI="https://mirror.iscas.ac.cn/ruyisdk/dist/box64-${GIT_COMMIT}.src.tar.zst"
TAR_STRIP_COMPONENTS=2

SRC_PREPARE() {
    # upstream doesn't want us to be able to install when building on x86
    # but we have to because native builds on especially riscv64 are too slow
    patch -Np1 <<EOF
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -967,7 +967,7 @@
   add_definitions(-DCONFIG_64BIT)
 endif()
 
-if(NOT _x86 AND NOT _x86_64)
+# if(NOT _x86 AND NOT _x86_64)
   if(NOT TERMUX)
    install(TARGETS ${BOX64}
     RUNTIME DESTINATION bin)
@@ -1022,7 +1022,7 @@
         install(FILES ${CMAKE_SOURCE_DIR}/x64lib/libmbedcrypto.so.3 DESTINATION ${TERMUX_PATH}${INSTALL_PATH})
 	endif()
    endif()
-endif()
+# endif()
 
 if(NOT TARGET uninstall)
     configure_file(
EOF
}
