GIT_COMMIT=4b0b3fc98ae4a1e848765e0cd48f958a13fc683d
GIT_COMMIT_SHORT="${GIT_COMMIT:0:8}"

RUYI_DATESTAMP=20240702
PV="0.2.9-pre.ruyi.${RUYI_DATESTAMP}+git.${GIT_COMMIT_SHORT}"
P="box64-upstream-$PV"
SRC_URI="https://mirror.iscas.ac.cn/ruyisdk/dist/box64-${GIT_COMMIT}.src.tar.zst"
TAR_STRIP_COMPONENTS=2
