#!/bin/bash

GIT_COMMIT=9178effd9f837b52107c1943e9736cf2dfc5d40d
GIT_COMMIT_SHORT="${GIT_COMMIT:0:8}"

RUYI_DATESTAMP=20240901
PV="0.3.1-pre.ruyi.${RUYI_DATESTAMP}+git.${GIT_COMMIT_SHORT}"
P="box64-upstream-$PV"
SRC_URI="https://mirror.iscas.ac.cn/ruyisdk/dist/box64-${GIT_COMMIT}.src.tar.zst"
TAR_STRIP_COMPONENTS=2

SRC_PREPARE() {
    # upstream doesn't want us to be able to install when building on x86
    # but we have to because native builds on especially riscv64 are too slow
    patch -Np1 <<EOF
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -1066,7 +1066,7 @@ if(_x86_64 OR _aarch64)
   add_definitions(-DCONFIG_64BIT)
 endif()
 
-if(NOT _x86 AND NOT _x86_64)
+#if(NOT _x86 AND NOT _x86_64)
   if(NOT TERMUX)
    install(TARGETS ${BOX64}
     RUNTIME DESTINATION bin)
@@ -1139,7 +1139,7 @@ if(NOT _x86 AND NOT _x86_64)
        endif()
     endif()
   endif()
-endif()
+#endif()
 
 if(NOT TARGET uninstall)
     configure_file(
EOF
}
