CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="/src"
CT_WORK_DIR="/work"
CT_PREFIX_DIR="${CT_PREFIX:-${HOME}/x-tools}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}/"
CT_TARBALL_RESULT=y
CT_TARBALL_RESULT_DIR="/out"
CT_TARBALL_RESULT_FILENAME="${CT_TOOLCHAIN_PKGVERSION:+${CT_TOOLCHAIN_PKGVERSION// /-}-}${CT_HOST:+HOST-${CT_HOST}-}${CT_TARGET}"
CT_ARCH_RISCV=y
CT_MULTILIB=y
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv64gc"
CT_ARCH_ABI="lp64d"
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="RuyiSDK 20240324 PLCT-Sources"
CT_TOOLCHAIN_BUGURL="https://github.com/ruyisdk/ruyisdk/issues"
CT_TARGET_VENDOR="plct"
CT_CANADIAN=y
CT_HOST="riscv64-linux-gnu"
CT_KERNEL_LINUX=y
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/ruyisdk/riscv-binutils.git"
CT_BINUTILS_DEVEL_BRANCH="binutils-2.42"
CT_BINUTILS_PLUGINS=y
CT_GLIBC_SRC_DEVEL=y
CT_GLIBC_DEVEL_URL="https://github.com/ruyisdk/riscv-glibc.git"
CT_GLIBC_DEVEL_BRANCH="glibc-2.37"
CT_GLIBC_V_2_37=y
CT_GLIBC_USE_LIBIDN_ADDON=y
CT_GLIBC_ENABLE_FORTIFIED_BUILD=y
CT_GLIBC_KERNEL_VERSION_NONE=y
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/ruyisdk/riscv-gcc.git"
CT_GCC_DEVEL_BRANCH="gcc-13.1.0"
CT_GCC_V_13=y
CT_CC_GCC_ENABLE_DEFAULT_PIE=y
CT_CC_GCC_LIBSSP=m
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=m
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_CC_LANG_OBJC=y
CT_CC_LANG_OBJCXX=y
CT_DEBUG_GDB=y
CT_GDB_SRC_DEVEL=y
CT_GDB_DEVEL_URL="https://github.com/ruyisdk/riscv-binutils.git"
CT_GDB_DEVEL_BRANCH="binutils-2.42"
# CT_GDB_CROSS_PYTHON is not set
# CT_GDB_GDBSERVER is not set
CT_COMP_LIBS_CLOOG=y
CT_COMP_LIBS_LIBELF=y
