CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="/src"
CT_WORK_DIR="/work"
CT_PREFIX_DIR="${CT_PREFIX:-${HOME}/x-tools}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}/"
CT_TARBALL_RESULT=y
CT_TARBALL_RESULT_DIR="/out"
CT_TARBALL_RESULT_FILENAME="${CT_TOOLCHAIN_PKGVERSION:+${CT_TOOLCHAIN_PKGVERSION// /-}-}${CT_HOST:+HOST-${CT_HOST}-}${CT_TARGET}"
CT_ARCH_RISCV=y
# CT_DEMULTILIB is not set
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv64gc"
CT_ARCH_ABI="ilp32d"
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="RuyiSDK 20240906 PLCT-Sources RV64ILP32-gdf9313313b45"
CT_TOOLCHAIN_BUGURL="https://github.com/ruyisdk/ruyisdk/issues"
CT_TARGET_VENDOR="plct"
CT_CANADIAN=y
CT_HOST="aarch64-linux-gnu"
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/ruyisdk/riscv-binutils.git"
CT_BINUTILS_DEVEL_REVISION="4c22d0b5794b3a2226ba420f1081ac3972878779"
CT_BINUTILS_PLUGINS=y
CT_LIBC_NONE=y
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/ruyisdk/riscv-gcc.git"
CT_GCC_DEVEL_REVISION="f9ffd92f86188fbfb81c6c85c33b0151df264410"
CT_GCC_V_13=y
CT_CC_GCC_LIBSTDCXX_VERBOSE=m
# CT_CC_GCC_LDBL_128 is not set
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_SRC_DEVEL=y
CT_GDB_DEVEL_URL="https://github.com/ruyisdk/riscv-binutils.git"
CT_GDB_DEVEL_REVISION="25d04e83f2f3a55fab11f7a60dff0d08f0f997c5"
# CT_LIBICONV_NEEDED is not set
# CT_GETTEXT_NEEDED is not set
