CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="/src"
CT_WORK_DIR="/work"
CT_PREFIX_DIR="${CT_PREFIX:-${HOME}/x-tools}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}/"
CT_TARBALL_RESULT=y
CT_TARBALL_RESULT_DIR="/out"
CT_TARBALL_RESULT_FILENAME="${CT_TOOLCHAIN_PKGVERSION:+${CT_TOOLCHAIN_PKGVERSION// /-}-}${CT_HOST:+HOST-${CT_HOST}-}${CT_TARGET}"
CT_ARCH_RISCV=y
CT_MULTILIB=y
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv64gc"
CT_ARCH_ABI="lp64d"
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="RuyiSDK 20250526 Xuantie-Sources Xuantie-binutils-8ee62aac8606 Xuantie-gcc-c2e0bcc86d1f Xuantie-glibc-29dd660835c5"
CT_TOOLCHAIN_BUGURL="https://github.com/ruyisdk/ruyisdk/issues"
CT_CANADIAN=y
CT_HOST="riscv64-linux-gnu"
CT_TARGET_VENDOR="plctxthead"
CT_KERNEL_LINUX=y
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/XUANTIE-RV/binutils-gdb.git"
CT_BINUTILS_DEVEL_REVISION="8ee62aac8606e97063195463ecc4c25ce2d26385"
CT_BINUTILS_V_2_42=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_SRC_DEVEL=y
CT_GLIBC_DEVEL_URL="https://github.com/XUANTIE-RV/glibc.git"
CT_GLIBC_DEVEL_REVISION="29dd660835c54e1bbcf3d911693070354d8dae78"
CT_GLIBC_V_2_33=y
CT_GLIBC_USE_LIBIDN_ADDON=y
CT_GLIBC_EXTRA_CONFIG_ARRAY="--disable-werror"
CT_GLIBC_KERNEL_VERSION_NONE=y
# CT_CREATE_LDSO_CONF is not set
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/XUANTIE-RV/gcc.git"
CT_GCC_DEVEL_REVISION="c2e0bcc86d1f6eb59051cba8efdcca165fa3e858"
CT_GCC_V_14=y
CT_CC_GCC_ENABLE_DEFAULT_PIE=y
CT_CC_GCC_LIBSSP=m
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_CC_LANG_OBJC=y
CT_CC_LANG_OBJCXX=y
CT_DEBUG_GDB=y
CT_GDB_SRC_DEVEL=y
CT_GDB_DEVEL_URL="https://github.com/XUANTIE-RV/binutils-gdb.git"
CT_GDB_DEVEL_REVISION="a326f947008e6a1337e6f8246775b8523230e6b9"
CT_GDB_V_10=y
# CT_GDB_CROSS_PYTHON is not set
# CT_GDB_GDBSERVER is not set
CT_COMP_LIBS_CLOOG=y
CT_EXPAT_V_2_6=y
CT_COMP_LIBS_LIBELF=y
